<div class="container mt-3 ms-3">
  <div class="">
    <h1 class="display-6"><strong>Stupid Coaching</strong></h1>
    <p><small>Ask your coach anything</small></p>
  </div>
  <form action="/answer" data-turbo="false">
    <div class="row g-0">
      <div class="col">
        <input type="text" name="question" class="form-control form-control-lg col-8 rounded-0 rounded-start" placeholder="Type your question">
      </div>
      <div class="col">
        <input type="submit" class="btn btn-lg btn-primary col-2 rounded-0 rounded-end" value="Ask">
      </div>
    </div>
  </form>
  </div>
</div>
